<h1> ARTISTS PROFILE PAGE </h2>

<p> You have indicated you are a skilled reproductionist of the following styles: </p>


  <p> Consumers interested in comissioning these styles of art will contact you via: </p>
  <%= @reproartist.email %>
