
<h3>You have indicated you are a skilled reproductionist of the following style: </h3><br>

<center>

<strong><%= Style.find(@reproartist.style_id).name %> Art </strong> <br>


<%= image_tag  Artpiece.find(@reproartist.style_id).image.url %>
</center><br>

  <h4> Consumers interested in comissioning this style of art will contact you via: </h4>
  <center><%= @reproartist.email %></center>
