<h1> About ArtCart</h1><br>
<h2> Search and Find your favroite pieces of fine art for commission </h2>


<li> Aritsts, Sign up for an account</li>
<li> Select your distinctive art specilization and </li>
<li>  fill in the profile so that users may contact you </li>
<li> to commission detailed reproductions and/or customizable fine </li>
