<h3><center>Welcome</center></h3><br>
<br>
<h4> Browse our Art Gallery to see popular styles and commissions</h4>
<h5> Create a profile to be hired as a Reproduction Artist! </h5>

<%if signed_in? && !(created_style_selection?) %>
<% create_reproartist_data %>
<% end %>


<section>

    <% @artpieces.each do |artpiece| %>
    <h1><strong><%= artpiece.title %></strong></h1>
    <p><%= artpiece.image%> </p>
    <p><%= artpiece.artist%> </p>
    <p><%= artpiece.style.name %> </p>

    <% end %>
</section>
