<h1> Welcome </h1><br>
<h2> Sign up you skills to be hired as a Reproduction Artist! </h2>

<%if signed_in? && !(created_style_selection?) %>
<% create_reproartist_data %>

<% end %>


<section>
    <% @artpieces.each do |artpiece| %>

    <li><%= artpiece.image%> </li>
    <h1><strong><%= artpiece.title %></strong></h1>
    <li><%= artpiece.artist%> </li>
    <li><%= artpiece.style.name %> </li>

    <% end %>
</section>
