<h2><center>Browse our Art Gallery to see popular styles and commissions</center></h2><br>



<%if signed_in? && !(created_style_selection?) %>
<% create_reproartist_data %>
<% end %>


<section>
<center>
    <% @artpieces.each do |artpiece| %>
    <h3><strong><%= artpiece.title %></strong></h3>
    <p><%= artpiece.image %></p>
    <p><%= artpiece.artist%> </p>
    <p><%= artpiece.style.name %> </p>
    <br>

    <% end %>
  </center>
</section>
